@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #0B486B;
}

header {
  width: 100%;
  margin-bottom: 100px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;

  text-align: center;

  background-color: #0c3d58;

  font-family: 'Antonio', sans-serif;
  color: #ffa697;
  font-size: 2rem;
}

.contact-card {
  width: 520px;
  height: 260px;
  
  display: flex;
  align-items: center;
  
  border: 6px solid #dddddd;
  border-radius: 8px;
  background-color: #CFC1B4;

  margin: 10px;
}

.contact-icon {
  width: 180px;
  height: 180px;
  
  border: 6px solid #dddddd;
  border-radius: 50%;
  
  margin: 0 10px 0 20px;
}

span {
  position: absolute;
  width: 180px;
  margin: auto 25px -10px;
  
  z-index: -1;
  cursor: default;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
  font-size: 40pt;
  font-weight: bolder;
  color: #2a2f33;
}

.contact-data {
  display: flex;
  flex-direction: column;
  
  height: 160px;
  margin: 10px;
  color: #2a2f33;
}

.contact-data h2 {
  font-family: 'Antonio', sans-serif;
  margin: 10px 0;
}

.contact-data p {
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  margin: 2px 0;
}
/*  ======= TRANSITIONS/ANIMATIONS */
.contact-card:hover {
  transform: scale(1.01);
  transition: .1s;
}

/*  ========  FOOTER  =======  */
footer {
  width: 100%;
  height: 10vh;
  margin-top: 100px;

  text-align: center;
  padding-top: 50px;

  background-color: #0c3d58;
  font-family: 'Antonio', sans-serif;
  color: #dddddd;
}