@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*  ======= MODAL ======== */
.modal-background {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: -1;
  visibility: hidden;
}

.modal {
  width: 400px;
  height: 400px;
  
  background-color: #fffddd;

  font-family: 'Lato';
  color: #2a2f33;
}

.activated {
  z-index: 1;
  visibility: visible;
}

#cancelBtn, #submitBtn {
  width: 40%;
  height: 40px;

  margin: auto auto;

  color: white;
  font-weight: bolder;
  
  cursor: pointer;
  border: none;
  border-radius: 5%;
}

#cancelBtn {
  background-color: #ff8181;
  opacity: 0.8;
}

#submitBtn {
  background-color: #5ba4ce;
  opacity: 0.8;
}

#cancelBtn:hover, #submitBtn:hover {
  opacity: 1;
}

/*  ======= FORM ======= */