@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*  ======= MODAL ======== */
.modal-background {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: -1;
  visibility: hidden;
}

.modal {
  width: 420px;
  height: 420px;
  padding: 20px;

  background-color: #fffddd;

  font-family: 'Lato';
  color: #2a2f33;
}

.activated {
  z-index: 1;
  visibility: visible;
}

/*  ======= FORM ======= */
form {
  width: 420px;
  height: 400px;
  
  padding: 10px;
  gap: 6px;
}

.input-group {
  width: 400px;
  margin: 10px auto;
}

label {
  font-size: 13pt;
  margin: 5px 5px;
}

input {
  margin: 5px 5px;
  width: 345px;
  height: 30px;
  padding: 5px;
}

input:focus {
  border: none;
  width: 340px;
  height: 30px;

  padding: 5px 15px;
  margin-left: 5px;

  outline: #2a2f33 solid 1px;
}

small {
  margin: 5px;
  opacity: 0.6;
}

#cancelBtn, #submitBtn {
  width: 182px;
  height: 40px;

  margin: 20px auto;

  color: white;
  font-weight: bolder;
  
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#cancelBtn {
  background-color: #ff8181;
  opacity: 0.8;
  margin-left: 5px;
}

#cancelBtn:hover, #submitBtn:hover {
  opacity: 1;
}

#submitBtn {
  background-color: #5ba4ce;
  opacity: 0.8;
}