@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/*  ======= MODAL ======== */
.modal-background {
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: -1;
  visibility: hidden;
}

.modal {
  width: 420px;
  height: 440px;
  padding: 20px;

  background-color: #fffddd;

  font-family: 'Lato';
  color: #2a2f33;

  border: 6px solid #ddd;
  border-radius: 8px;
}

.activated {
  z-index: 1;
  visibility: visible;
}

/*  ======= FORM ======= */
form {
  width: 420px;
  height: 300px;
  
  padding: 10px;
  gap: 6px;
}

.input-group {
  margin: auto;
}

label {
  font-size: 13pt;
}

input {
  margin: 5px 10px;
  width: 300px;
}

input[type="image"] {
  width: 200px;
  height: 86px;
  
  margin: auto 100px;
  text-align: center;
  
  background: url(https://img.icons8.com/dusk/64/000000/user-folder.png);
  background-repeat: no-repeat;
  background-position: center;
}

#cancelBtn {
  margin-left: 10px;
}

#cancelBtn, #submitBtn {
  width: 200px;
  height: 40px;

  margin: 20px 0;

  color: white;
  font-weight: bolder;
  
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#cancelBtn {
  background-color: #ff8181;
  opacity: 0.8;
}

#submitBtn {
  background-color: #5ba4ce;
  opacity: 0.8;
}

#cancelBtn:hover, #submitBtn:hover {
  opacity: 1;
}