/* ======= RESPONSIVITY */
@media (max-width: 560px) {
  .contact-card {
    width: 300px;
    height: 180px;
  }
  
  .contact-icon {
    width: 100px;
    height: 100px;
    
    margin: 5px;
  }
  
  .contact-data {
    height: 120px;
  }

  .contact-data h2 {
    font-size: 12pt;
  }
  
  .contact-data p {
    font-size: 10pt;
  }
}